@use '../../styles/utils/colors' as c;
@use '../../styles/utils/breakpoints' as b;
.content {
  margin-top: 126px;

  h1 {
    font-size: 36px;
    margin-bottom: 59px;
    color: c.$text-secondary;
  }

  h2 {
    @include b.breakpoint-down(medium) {
      // font-size: 16px;
    }
  }
}

.routes {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 1px solid black;
  color: c.$text-inactive;
  padding-right: 20px;
  margin-bottom: 40px;

  @include b.breakpoint-down(medium) {
    // gap: 60px;
    padding-right: 0;
  }
}


.activeRoutes {
  position: relative;
  color: c.$text-active;
  
  &::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 13px;
    border-radius: 10px;
    background-color: c.$text-active;
    top: 45px;
    left: 0%;

    @include b.breakpoint-down(medium) {
      top: 170%;
      width: 100px;
    }

    @include b.breakpoint-down(small) {
      top: 130%;
    }
  }
}