$text-secondary: #4E598C;
$text-inactive: #BDBDBD;
$text-white: #F7F7FF;
$text-active: #F2994A;
$text-label: rgba(0,0,0,1);
$text-primary: #4F4F4F;
$button-0: #F2C94C;
$input-border: rgba(78, 89, 140, 1);
$text-small: #817E9E;
$table-header: #2F80ED;
$line-color: #817E9E;
